* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.nav-bar,
.main {
    background-color: #1f2937;

}

.nav-bar {
    display: flex;    
    padding: 16px 100px;
    align-items: center;
}

h1, .logo {
    color: #f9faf8;
    font-weight: 900;

}

.logo {
    font-size: 24px;
}

.responsive-img {
    width: 600px; 
    height: 380px;
    object-fit: cover; 
    object-position: center; 
    border-radius: 10px; 
  }

h1 {
    font-size: 48px;
}

h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    margin-top:  64px;
    
}

h3 {
    color: white;
}

.main {
    display: flex;
    padding: 64px 100px;
    gap: 32px;
    flex-wrap: wrap;
    margin: 0;
    
    
    
   
}

.left {
    flex: 1;
   
    
}




.under {
    color: #8d8d8d;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    margin-bottom: 64px;
    
}

.square {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 60px;
    flex-wrap: wrap;
    flex: 1;
    
}

.container {
    width: 200px;
    align-content: center;
   
}

.section-three {
    background-color: #e5e7eb;
    padding: 80px 100px;
    
}



.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    font-style: italic;
    padding: 0 100px;
}

.author {
    font-weight: 900;
    color: #1f2937;
    text-align: right;
    padding-right: 100px;
    
}


.call {
    height: 150px;
    background-color: #3882f6;
    margin: 60px 140px;
    border-radius: 12px;
    padding: 8px 36px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    
}

.container-call {
    
}

.action {
    border: 2px solid white;
    
    
}

ul {
    list-style: none;
    display: flex;
    margin-left: auto;
    gap: 16px;
}

a, p {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    
}

button {
    background-color: #3882f6;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding: 8px;
    width: 150px;
    margin-top: 8px;
}

button:hover {
    background-color:#4070bd
}



footer {
    background-color:#1f2937;
    text-align: center;
    color:#e5e7eb;
    padding: 16px;
}

img {
    border-radius: 12px;
}